.navigation{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:20%;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left:10px;
}

a{
    
    color: white;
    text-decoration: none;
}

a:hover{
    color: brown;
    font-size: 30px;
}